@import 'reset';
@import 'navbar';
@import 'footer';
@import 'index';
@import 'department';
@import 'popout';
@import 'table';

main {
    padding: 60px;
}

body {
    background-color: #f2f2f2;
    font-family: "Fira Sans", sans-serif;
}