<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        <div id="wrapper">
            {{>navbar}}
            <main>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Web Department</th>
                            <th>Android Department</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total projects done:</td>
                            <td>387</td>
                            <td>266</td>
                        </tr>
                        <tr>
                            <td>Average experience of developers:</td>
                            <td>4.3 years</td>
                            <td>4.6 years</td>
                        </tr>
                        <tr>
                            <td>Positive feedback:</td>
                            <td>98%</td>
                            <td>99%</td>
                        </tr>
                        <tr>
                            <td>Long term clients:</td>
                            <td>70%</td>
                            <td>79%</td>
                        </tr>
                        <tr>
                            <td>New tecnhologies master classes:</td>
                            <td>4 times a year</td>
                            <td>2 times a year</td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </div>
        {{>footer}}
    </body>
</html>