<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        <div id="wrapper">
            {{>navbar}}
            <main>
                <div id="m-container">
                    {{>map}}
                </div>
            </main>
        </div>
        {{>footer}}
    </body>
</html>