<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        <div id="wrapper">
            {{>navbar}}
            <main>
                <div id="i-container">
                    <img id="i-img" src="/img/index.png">
                    <div id="i-text">
                        <h2>Work with us</h2>
                        <p>World class quality, prompt delivery, professional support. Company with over than 5 years of experience, based in Ukraine. Featuring web development and Android development.</p>
                    </div>
                </div>
            </main>
        </div>
        {{>footer}}
    </body>
</html>