<head>
    <title>{{tab_title}} | Outsourcing company</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Out-sourcing company based in Ukraine will provde you a world-class solutions">
    <meta name="keywords" content="out-sourcing, company, Ukraine, solutions, programming">
    <meta name="language" content="en-us">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">

    <link rel="stylesheet" href="/css/styles.css">
</head>