<img src="/img/map.png" usemap="#image-map">

<map name="image-map">
    <area alt="Kyiv Department" href="#kyiv" title="Kyiv Department" coords="217,152,224,146,234,146,238,141,249,142,257,136,257,126,258,119,265,121,274,122,276,114,281,107,283,100,279,91,277,82,267,88,261,86,254,80,245,77,241,68,241,58,222,50,213,52,209,58,205,68,209,72,209,80,211,86,209,95,212,103,213,109,216,115,210,121,207,127,209,136,210,146,211,151" shape="poly">
    <area alt="Kharkiv Department" href="#kharkiv" title="Kharkiv Department" coords="386,151,393,155,394,162,401,168,407,164,414,167,422,163,414,156,423,153,430,148,433,141,438,137,443,134,446,127,443,121,449,115,445,108,449,100,447,92,438,90,432,79,416,78,406,84,397,86,386,82,375,86,367,94,359,95,352,103,353,109,356,114,361,116,365,120,369,126,365,133,356,137,356,145,361,150,372,152,380,155" shape="poly">
</map>

<div id="kyiv" class="popup-overlay">
  <div class="popup">
		    <h2>Kyiv Department</h2>
		    <a class="close" href="#">&times;</a>
		      <div class="content">
            Staff: 500 people<br/>
            Specialization: Web Development
    </div>
  </div>
</div>

<div id="kharkiv" class="popup-overlay">
  <div class="popup">
		    <h2>Kharkiv Department</h2>
		    <a class="close" href="#">&times;</a>
		      <div class="content">
            Staff: 300 people<br/>
            Specialization: Android Development    </div>
  </div>
</div>