<div class='container'>

  <div id="navigation-bar">
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/how_to_find_us'>How to find us</a></li>
        <li><a href='/about'>About</a></li>
      </ul>
    </nav>
  </div>
</div>