@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONT IMPORTED */
/* Fira Sans */
#nav-container {
  width: 100%;
  display: inline-block;
}

/** HEADER */
/** NAVIGATION BAR */
nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul {
  text-align: center;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}
nav ul li {
  display: inline;
  font-family: "Fira Sans", sans-serif;
  font-size: 17px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 14px;
}
nav ul li a:hover {
  background-color: #111;
}

#footer {
  background: #333;
  width: 100%;
  text-align: center;
}
#footer span {
  color: #f2f2f2;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 8px;
}

/**
 * the sticky footer mixin
 **/
/**
 * the sticky footer implementation
 **/
html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -30px;
}
#wrapper #container {
  padding: 0 0 30px 0;
}

#footer {
  height: 30px;
}

#i-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
}

#i-img {
  margin: 20px 30px 0 0;
  width: 40%;
  object-fit: contain;
  align-self: flex-start;
}

#i-text {
  flex: 1 1 auto;
  color: #333;
  padding: 7% 60px 0px 0px;
  font-family: "Fira Sans", sans-serif;
}
#i-text h2 {
  display: inline;
  font-size: 350%;
}
#i-text p {
  font-size: 120%;
  padding-top: 20px;
}

#m-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-overlay {
  font-family: "Fira Sans", sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.popup-overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  font-size: 150%;
  margin-bottom: 20px;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  height: 50%;
}

/* =============================================================

    Tables v1.0
    Simple table styling by Chris Ferdinandi.
    http://gomakethings.com

    Adapted from Twitter Bootstrap.
    http://twitter.github.com/bootstrap/

    Licensed under the Apache License v2.0
    http://www.apache.org/licenses/LICENSE-2.0

 * ============================================================= */
/* =============================================================
    RESPONSIVE RESET
    Replace with your own.
 * ============================================================= */
@-webkit-viewport {
  width: device-width;
  zoom: 1;
}
@-moz-viewport {
  width: device-width;
  zoom: 1;
}
@-ms-viewport {
  width: device-width;
  zoom: 1;
}
@-o-viewport {
  width: device-width;
  zoom: 1;
}
@viewport {
  width: device-width;
  zoom: 1;
}
html {
  overflow-y: auto;
}

img, audio, video, canvas {
  max-width: 100%;
}

/*  Sets Body Width */
.container {
  max-width: 40em;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

/* =============================================================
    TABLES
    Table styling.
 * ============================================================= */
/*  Removes default browser settings
 *  and evens out inconsistencies. */
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/*  Sets table width to 100%.
 *  Adds bottom-margin. */
.table {
  width: 100%;
  margin-bottom: 1.529411765em;
}

/*  Adds table cell padding,
 *  aligns text to the left,
 *  and adds a top border to each cell. */
.table th,
.table td {
  padding: 0.470588235em;
  text-align: left;
  border-top: 0.071428571em solid #b8b8b8;
}

/*  Sets table header font-weight to bold.
 *  Aligns table header text to the bottom of each cell. */
.table th {
  font-weight: bold;
  vertical-align: bottom;
}

/*  Aligns cell text to the top of each cell. */
.table td {
  vertical-align: top;
}

/*  Removes the border-top from the first row. */
.table thead:first-child tr th,
.table thead:first-child tr td {
  border-top: 0;
}

/*  Adds border-top between two table-body sections. */
.table tbody + tbody {
  border-top: 0.142857143em solid #b8b8b8;
}

/*  Reduces cell padding */
.table-condensed th,
.table-condensed td {
  padding: 0.294117647em;
}

/* Adds borders and border-radius. */
.table-bordered {
  border: 0.071428571em solid #b8b8b8;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-radius: 0.470588235em;
}

.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 0.071428571em solid #b8b8b8;
}

.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  border-radius: 0.470588235em 0 0 0;
}

.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  border-radius: 0 0.470588235em 0 0;
}

.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 0.470588235em;
}

.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 0.470588235em 0;
}

main {
  padding: 60px;
}

body {
  background-color: #f2f2f2;
  font-family: "Fira Sans", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
